<div class="container">
  <h1 class="text-left mb-4">About Me</h1>
  <div class="row">
      <div class="col-md-4 order-xs-1 order-md-2">
          <img src="./assets/img/profile-2.jpg" class="img-fluid" id="about-image" alt="Responsive image">
      </div>
    <div class="col-md-8 order-md-1 order-xs-2">
      <!-- <p class="header-m">I'm a programmer born and raised in Seattle, WA</p> -->
      <p class="header-s">I was born and raised in Seattle, WA. Currently, I am working at AT&T as a Software Engineer.</p>
      <p class="header-s">I empathize with the stories of everyday people and fascinated with the technologies to make their dreams a reality.</p>
      <p class="header-s">In college, I majored in Human Centered Design & Engineering. My courses equipped me with foundational skills in User Experience Design and Software Development. I continue to explore cutting edge programming languages and frameworks. Recently, I completed the Udacity Full-Stack Nanodegree.</p>
      <p class="header-s">When I am not building the future, I try to capture the world through my lens!</p>
    </div>
  </div>
  <div class="row mt-4">
      <div class="col-12">
          <h2>Education</h2>
      </div>
      <div class="col-12">
          <ul class="list-unstyled header-s">
              <li class="tech-icon">
                  Bachelors of Science in Human Centered Design & Engineering (2016)
                </li>
              <li class="tech-icon">
                Udacity Full Stack Web Developer Nanodegree (2018)
              </li>                                
            </ul>
      </div>
    </div>
  <div class="row">
    <div class="col-12">
        <h2>Skills</h2>
    </div>
    <div class="col-12">
        <ul class="list-inline header-s">
          <li *ngFor="let skill of skills; let i = index" class="list-inline-item tech-icon">
            {{skill}}
            <span *ngIf="i < skills.length - 1" class="dot align-middle mx-1"></span>
          </li>
          </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
        <h2>Interests</h2>
    </div>
    <div class="col-12">
        <ul class="list-inline header-s">
          <li *ngFor="let hobby of hobbies; let i = index" class="list-inline-item tech-icon">
            {{hobby}}
            <span *ngIf="i < hobbies.length - 1" class="dot align-middle mx-1"></span>
          </li>
          </ul>
    </div>
  </div>
</div>