.header-l {
    letter-spacing: 2px;
    font-size: 35px;
    font-weight: 390;
}

.header-m {
    letter-spacing: 2px;
    font-size: 30px;
    font-weight: 300;
}

.header-s {
    letter-spacing: 2px;
    font-size:20px;
    font-weight: 200;
}

#about-image {
    border-radius: 10px;
}