<div class="container">
  <h1 class="text-left mb-4">About Me</h1>
  <div class="row">
      <div class="col-md-4 order-xs-1 order-md-2">
          <img src="./assets/img/kevin_about.jpg" class="img-fluid" id="about-image" alt="Responsive image">
      </div>
    <div class="col-md-8 order-md-1 order-xs-2">
      <!-- <p class="header-m">I'm a programmer born and raised in Seattle, WA</p> -->
      <p class="header-s">I was born and raised in Seattle, WA. Currently, I am working at AT&T as a Software Engineer.</p>
      <p class="header-s">I empathize with the stories of everyday people and fascinated with the technologies to make their dreams a reality.</p>
      <p class="header-s">In college, I majored in Human Centered Design & Engineering. My courses equipped me with foundational skills in User Experience Design and Software Development. I continue to explore cutting edge programming languages and frameworks. Recently, I completed the Udacity Full-Stack Nanodegree.</p>
      <p class="header-s">When I am not building the future, I try to capture the world through my lens!</p>
    </div>
  </div>
  <div class="row mt-4">
      <div class="col-12">
          <h2>Education</h2>
      </div>
      <div class="col-12">
          <ul class="list-unstyled header-s">
              <li class="tech-icon">
                  Bachelors of Science in Human Centered Design & Engineering (2016)
                </li>
              <li class="tech-icon">
                Udacity Full-Stack Nanodegree (2018)
              </li>
              <li class="tech-icon">
                Associate of Arts with Emphasis in Chemistry (2013)  
              </li>                                   
            </ul>
      </div>
    </div>
  <div class="row">
    <div class="col-12">
        <h2>Skills</h2>
    </div>
    <div class="col-12">
        <ul class="list-inline header-s">
            <li class="list-inline-item tech-icon">
                HTML
                <span class="dot align-middle mx-1"></span>
              </li>
            <li class="list-inline-item tech-icon">
              CSS
              <span class="dot align-middle mx-1"></span>
            </li>
            <li class="list-inline-item tech-icon">
                JavaScript
                <span class="dot align-middle mx-1"></span>
            </li>
            <li class="list-inline-item tech-icon">
                AngularJS
                <span class="dot align-middle mx-1"></span>
            </li>
            <li class="list-inline-item tech-icon">
                jQuery
                <span class="dot align-middle mx-1"></span>
            </li>        
            <li class="list-inline-item tech-icon">
                Java
                <span class="dot align-middle mx-1"></span>
            </li>
            <li class="list-inline-item tech-icon">
                Python
                <span class="dot align-middle mx-1"></span>
            </li>
            <li class="list-inline-item tech-icon">
                NodeJS
                <span class="dot align-middle mx-1"></span>
            </li>
            <li class="list-inline-item tech-icon">
                Spring
                <span class="dot align-middle mx-1"></span>
            </li>
            <li class="list-inline-item tech-icon">
                SQL
            </li>                                      
          </ul>
    </div>
  </div>
</div>