<p>
  bentogether works!
</p>
<header class="masthead">
    <div class="container">
          <div class="header-content">
            <h1 class="text-center">Bentogether</h1>
            <p class="subhead text-center">Food education system</p>
            <img class="work-banner-img img-fluid mx-auto d-block mb-5" src="./assets/img/bentogether/pet.jpg">
        </div>
    </div>
    <div class="container pb-2">
      <div class="row mb-5">
        <div class="col-md-3">
          <h3 class="text-uppercae">Overview</h3>
        </div>
        <div class="col-offset-md-1 col-md-8">
          <p>BenTogether is a digital bento box paired with a mobile application, developed as part of HCDE's senior capstone project. Its purpose is to teach families about food education, while strengthening family relationships through the lunch making process.</p>
        </div>      
      </div>
      <div class="row mb-5">
          <div class="col-md-3">
            <h3 class="text-uppercae">Role</h3>
          </div>
          <div class="col-offset-md-1 col-md-8">
            <p>In a team of five, I worked as the software developer for the mobile application. In addition, I was a user researcher conducting surveys, qualitative analsysis, and user testing.
            </p>
          </div>      
        </div>
        <div class="row mb-5">
          <div class="col-md-3">
            <h3 class="text-uppercae">Duration</h3>
          </div>
          <div class="col-offset-md-1 col-md-8">
            <p>2015 (10 months)</p>
          </div>      
        </div>
    </div>
  </header>
  <section class="alternate">
      <div class="container pt-5">
          <div class="row mb-5">
              <div class="col-md-3">
                <h3 class="text-uppercae">Technologies</h3>
              </div>
              <div class="col-offset-md-1 col-md-8">
                  <ul class="list-inline">
                      <li class="list-inline-item tech-icon">
                          Apache Cordova
                          <span class="dot align-middle mx-1"></span>
                      </li> 
                      <li class="list-inline-item tech-icon">
                        HTML
                        <span class="dot align-middle mx-1"></span>
                      </li>
                      <li class="list-inline-item tech-icon">
                          CSS
                          <span class="dot align-middle mx-1"></span>
                      </li>
                      <li class="list-inline-item tech-icon">
                          JavaScript
                          <span class="dot align-middle mx-1"></span>
                      </li>    
                      <li class="list-inline-item tech-icon">
                          jQuery
                          <span class="dot align-middle mx-1"></span>
                      </li>
                      <li class="list-inline-item tech-icon">
                          Bootstrap
                      </li>                               
                    </ul>
              </div>      
          </div>
          <div class="row pb-5">
              <div class="col-md-3">
                <h3 class="text-uppercae">Features</h3>
              </div>
              <div class="col-offset-md-1 col-md-8">
                <div class="my-app-custom-plain-container-row d-flex flex-lg-row flex-column">
                  <ng-container *ngFor="let img of images; let i = index">
                    <div class="img-container" *ngIf="i < 2"> <!-- 2 is a fixed value that I'm using to display only two images -->
                      <div class="more" *ngIf="i==1" (click)="openImageModalRow(img)">
                        <span>
                          +{{images.length - 2}} more
                        </span>
                      </div>
                      <img *ngIf="img.plain && img.plain.img; else noThumb"
                           class="my-app-custom-image-row"
                           [src]="img.plain.img"
                           (click)="openImageModalRow(img)"
                           [alt]="img.modal.description"/>
              
                      <ng-template #noThumb>
                        <img class="img-fluid my-app-custom-image-row"
                             [src]="img.modal.img"
                             (click)="openImageModalRow(img)"
                             [alt]="img.modal.description"/>
                      </ng-template>
                    </div>
                  </ng-container>
                </div>
                <ks-modal-gallery [id]="6" [modalImages]="images"
                                  [plainGalleryConfig]="customPlainGalleryRowConfig"></ks-modal-gallery>
                
              </div>      
          </div>
      </div>
    </section>