<header class="masthead">
  <div class="container">
        <div class="header-content">
          <h1 class="text-center">AT&T.com</h1>
          <p class="subhead text-center">E-commerce</p>
          <img class="work-banner-img img-fluid mx-auto d-block mb-5" src="./assets/img/att/att5.jpg">
      </div>
  </div>
  <div class="container pb-2">
    <div class="row mb-5">
      <div class="col-md-3">
        <h3 class="text-uppercae">Overview</h3>
      </div>
      <div class="col-offset-md-1 col-md-8">
        <p>One of AT&T's most heavily trafficked value streams, AT&T.com supports millions of customers nationwide shop their favorite AT&T products and manage their cellular services. The product details page (PDP) serves as part of ATT.com's buy flow for products ranging from phones, tablets, accessories, and more. </p>
      </div>      
    </div>
    <div class="row mb-5">
        <div class="col-md-3">
          <h3 class="text-uppercae">Role</h3>
        </div>
        <div class="col-offset-md-1 col-md-8">
          <p>As a full-stack engineer, I helped lead and develop AT&T.com's redesign initative (PSC) to revolutionize the buy flow experience. I developed highly complex and reusable pricing components and service providers, allowing customers to be able to learn, purchase, and configure their devices all in one streamlined flow. I helped integrate Google AMP to reduce AT&T.com's page load times to less than a second on mobile devices. In addition, I perform emergency hotfixes and mentor other AT&T.com developers.
          </p>
        </div>      
      </div>
      <div class="row mb-5">
        <div class="col-md-3">
          <h3 class="text-uppercae">Duration</h3>
        </div>
        <div class="col-offset-md-1 col-md-8">
          <p>December 2019 - Present</p>
        </div>      
      </div>
  </div>
</header>
<section class="alternate">
  <div class="container pt-5">
      <div class="row mb-5">
          <div class="col-md-3">
            <h3 class="text-uppercae">Technologies</h3>
          </div>

          <div class="col-offset-md-1 col-md-8">
              <ul class="list-inline">
                <li class="list-inline-item tech-icon">
                  React
                  <span class="dot align-middle mx-1"></span>
                </li>
                <li class="list-inline-item tech-icon">
                  Next.js
                  <span class="dot align-middle mx-1"></span>
                </li>
                <li class="list-inline-item tech-icon">
                  Node.js
                  <span class="dot align-middle mx-1"></span>
                </li>
                <li class="list-inline-item tech-icon">
                  Express
                  <span class="dot align-middle mx-1"></span>
                </li>
                <li class="list-inline-item tech-icon">
                  Jest
                  <span class="dot align-middle mx-1"></span>
                </li>
                <li class="list-inline-item tech-icon">
                  Enzyme
                  <span class="dot align-middle mx-1"></span>
                </li>
                  <li class="list-inline-item tech-icon">
                    HTML
                    <span class="dot align-middle mx-1"></span>
                  </li>
                  <li class="list-inline-item tech-icon">
                      CSS
                      <span class="dot align-middle mx-1"></span>
                  </li>
                  <li class="list-inline-item tech-icon">
                      JavaScript
                      <span class="dot align-middle mx-1"></span>
                  </li>
                  <li class="list-inline-item tech-icon">
                    TypeScript
                    <span class="dot align-middle mx-1"></span>
                 </li>
                 <li class="list-inline-item tech-icon">
                  Google AMP
                  <span class="dot align-middle mx-1"></span>
                </li>
                  <li class="list-inline-item tech-icon">
                      Java
                  </li>                                   
                </ul>
          </div>      
      </div>
      <div class="row pb-5">
          <div class="col-md-3">
            <h3 class="text-uppercae">Features</h3>
          </div>
          <div class="col-offset-md-1 col-md-8">
            <div class="my-app-custom-plain-container-row d-flex flex-lg-row flex-column">
              <ng-container *ngFor="let img of images; let i = index">
                <div class="img-container" *ngIf="i < 2"> <!-- 2 is a fixed value that I'm using to display only two images -->
                  <div class="more" *ngIf="i==1" (click)="openImageModalRow(img)">
                    <span>
                      +{{images.length - 2}} more
                    </span>
                  </div>
                  <img *ngIf="img.plain && img.plain.img; else noThumb"
                       class="my-app-custom-image-row"
                       [src]="img.plain.img"
                       (click)="openImageModalRow(img)"
                       [alt]="img.modal.description"/>
          
                  <ng-template #noThumb>
                    <img class="img-fluid my-app-custom-image-row"
                         [src]="img.modal.img"
                         (click)="openImageModalRow(img)"
                         [alt]="img.modal.description"/>
                  </ng-template>
                </div>
              </ng-container>
            </div>
            <ks-modal-gallery [id]="6" [modalImages]="images"
                              [plainGalleryConfig]="customPlainGalleryRowConfig"></ks-modal-gallery>
            
          </div>      
      </div>
  </div>
</section>