// #mainNav {
//     -webkit-transition: all .35s;
//     transition: all .35s;
//     font-family: 'Catamaran', 'Helvetica', 'Arial', 'sans-serif';
//     font-weight: 200;
//     letter-spacing: 1px;
//     // color: rgba(0,0,0,.48);
//     color: white;
//     box-shadow: 0 1px 3px rgba(0,0,0,.08);
//     background-color: white;
// }

// #mainNav .navbar-brand {
//   transition: all 0.3s;
//   letter-spacing: 5px;
//   font-weight: 300;
//   color: 	#ED6660;
//   // color: white;
//   font-family: 'Kaushan Script', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
// }

// #mainNav .navbar-brand.active, #mainNav .navbar-brand:active, #mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover {
//   color: 	#ED6660;
// }

// #mainNav .navbar-nav .nav-item .nav-link {
//   font-size: 90%;
//   font-weight: 400;
//   padding: 0.75em 0;
//   letter-spacing: 1px;
//   color: rgba(0, 0, 0, 0.64);
//   //color: white;
//   font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
// }

// #mainNav.navbar-shrink .navbar-nav .nav-item .nav-link.active, #mainNav .navbar-nav .nav-item .nav-link.active, #mainNav.navbar-shrink .navbar-nav .nav-item .nav-link:hover, #mainNav .navbar-nav .nav-item .nav-link:hover {
//   color: 	#ED6660;
// }

// @media (min-width: 992px) {
//   #mainNav {
//     padding-top: 25px;
//     padding-bottom: 25px;
//     -webkit-transition: padding-top 0.3s, padding-bottom 0.3s;
//     transition: padding-top 0.3s, padding-bottom 0.3s;
//     border: none;
//     background-color: transparent;
//     box-shadow: none;
//   }
//   #mainNav .navbar-brand {
//     font-size: 25px;
//     transition: all 0.3s;
//     letter-spacing: 10px;
//     font-weight: 300;
//     color: white;
//   }
//   #mainNav .navbar-nav .nav-item .nav-link {
//     padding: 1.1em 1em !important;
//     color: white;
//   }
//   #mainNav.navbar-shrink {
//     padding-top: 0;
//     padding-bottom: 0;
//     // opacity: 1;
//     background-color: white;
//     color: rgba(0, 0, 0, 0.64);
//     box-shadow: 0 1px 3px rgba(0,0,0,.08);
//   }
//   #mainNav.navbar-shrink .navbar-brand {
//     font-size: 1.25em;
//     padding: 12px 0;
//     color: 	#ED6660;
//   }

//   // #mainNav.navbar-shrink .navbar-nav .nav-item .nav-link {
//   //   color: rgba(0, 0, 0, 0.64);
//   // }

//   #mainNav.navbar-shrink .navbar-nav .nav-item .nav-link {
//     color: rgba(0, 0, 0, 0.64);
//   }
  
// }

#mainNav {
  background-color: #212529;
  // font-family: 'Catamaran', 'Helvetica', 'Arial', 'sans-serif';
  font-weight: 200;
  letter-spacing: 1px;
}

// #mainNav .navbar-toggler {
//   font-size: 12px;
//   right: 0;
//   padding: 13px;
//   text-transform: uppercase;
//   color: #fff;
//   border: 0;
//   font-family: Montserrat, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji'
// }

#mainNav .navbar-brand {
  transition: all 0.3s;
  letter-spacing: 5px;
  font-weight: 300;
  color: 	white;
  // color: white;
  font-family: 'Kaushan Script', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

// #mainNav .navbar-brand.active,
// #mainNav .navbar-brand:active,
// #mainNav .navbar-brand:focus,
#mainNav .navbar-brand:hover {
  color: #ED6660;
}

#mainNav .navbar-nav .nav-item .nav-link {
  font-size: 90%;
  font-weight: 400;
  padding: 0.75em 0;
  letter-spacing: 1px;
  //color: rgba(0, 0, 0, 0.64);
  color: white;
  text-transform: uppercase;
  font-family: 'Kaushan Script', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  //font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

#mainNav .navbar-nav .nav-item .nav-link.active, #mainNav.navbar-shrink .navbar-nav .nav-item .nav-link:hover, #mainNav .navbar-nav .nav-item .nav-link:hover {
  color: 	#ED6660;
}

@media (min-width:992px) {
  #mainNav {
    padding-top: 25px;
    padding-bottom: 25px;
    -webkit-transition: padding-top 0.3s, padding-bottom 0.3s;
    transition: padding-top 0.3s, padding-bottom 0.3s;
    border: none;
    background-color: transparent;
    box-shadow: none;
  }

  #mainNav .navbar-brand {
    font-size: 25px;
    transition: all 0.3s;
    letter-spacing: 10px;
    font-weight: 300;
    color: white;
  }

  #mainNav .navbar-nav .nav-item .nav-link {
    padding: 1.1em 1em !important;
    color: white;
  }

  #mainNav.navbar-shrink {
    padding-top: 0;
    padding-bottom: 0;
    // opacity: 1;
    background-color: #212529;
    color: rgba(0, 0, 0, 0.64);
    box-shadow: 0 1px 3px rgba(0,0,0,.08);
  }
  #mainNav.navbar-shrink .navbar-brand {
    font-size: 1.25em;
    padding: 12px 0;
    // color: 	#ED6660;
  }

  //   #mainNav.navbar-shrink .navbar-nav .nav-item .nav-link {
  //   color: rgba(0, 0, 0, 0.64);
  // }

  // #mainNav.navbar-shrink .navbar-nav .nav-item .nav-link {
  //   color: rgba(0, 0, 0, 0.64);
  // }
}

.black-navbar {
  background-color: #212529 !important;
}

.avatar {
  width: auto;
  height: 2.5em;
  padding: 0;
}

.nav-item.dropdown {
  padding: 0.6em 0;

  .nav-link.dropdown-toggle {
      padding: 0 !important;
  }
  .nav-link.dropdown-toggle::after {
      margin-left: 1em;
  }
  .dropdown-menu.show {
      left: 3.3em;
  }
}


// .avatar {
//   width: auto;
//   height: 2.5em;
//   padding: 0;
// }

// .nav-item.dropdown {
//   padding: 0.6em 0;

//   .nav-link.dropdown-toggle {
//       padding: 0 !important;
//   }
//   .nav-link.dropdown-toggle::after {
//       margin-left: 1em;
//   }
//   .dropdown-menu.show {
//       left: 3.3em;
//   }
// }

.navbar-toggler:focus {
    box-shadow: none!important;
    outline: 0;
}

.navbar-toggler {
  right: 0;
  padding: 13px;
  text-transform: uppercase;
  color: 	white;
  border: 0;
  font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

.progress-bar {
  position: absolute;
  width: 100%;
  bottom: 0%;
}