<header class="masthead">
    <div class="container">
          <div class="header-content">
            <h1 class="text-center">Food 2020</h1>
            <p class="subhead text-center">Social Event Planner</p>
            <img class="work-banner-img img-fluid mx-auto d-block mb-5" src="./assets/img/food2020/food_2020_2.png">
        </div>
    </div>
    <div class="container pb-2">
      <div class="row mb-5">
        <div class="col-md-3">
          <h3 class="text-uppercae">Overview</h3>
        </div>
        <div class="col-offset-md-1 col-md-8">
          <p>Food2020 was a mobile responsive Angular application developed as part of the AT&T intern coding challenge. Its purpose was to improve workplace culture by providing a platform for employees to easily socialize and coordinate luncheon events.</p>
        </div>      
      </div>
      <div class="row mb-5">
          <div class="col-md-3">
            <h3 class="text-uppercae">Role</h3>
          </div>
          <div class="col-offset-md-1 col-md-8">
            <p>As a software developer intern, I collaborated with a team of five other interns under a highly Agile development process. I was responsible for integrating front-end functionality such as party voting, restaurant searching, and interfacing with multiple APIs (Yelp, Google, etc.) and our back-end database.
            </p>
          </div>      
        </div>
        <div class="row mb-5">
          <div class="col-md-3">
            <h3 class="text-uppercae">Duration</h3>
          </div>
          <div class="col-offset-md-1 col-md-8">
            <p>2015 (4 months)</p>
          </div>      
        </div>
    </div>
  </header>
  <section class="alternate">
    <div class="container pt-5">
        <div class="row mb-5">
            <div class="col-md-3">
              <h3 class="text-uppercae">Technologies</h3>
            </div>
  
            <div class="col-offset-md-1 col-md-8">
                <ul class="list-inline">
                    <li class="list-inline-item tech-icon">
                      HTML
                      <span class="dot align-middle mx-1"></span>
                    </li>
                    <li class="list-inline-item tech-icon">
                        CSS
                        <span class="dot align-middle mx-1"></span>
                    </li>
                    <li class="list-inline-item tech-icon">
                        JavaScript
                        <span class="dot align-middle mx-1"></span>
                    </li>
                    <li class="list-inline-item tech-icon">
                        Angular
                        <span class="dot align-middle mx-1"></span>
                    </li>   
                    <li class="list-inline-item tech-icon">
                        Bootstrap
                        <span class="dot align-middle mx-1"></span>
                    </li>     
                    <li class="list-inline-item tech-icon">
                        Parse
                    </li>                                    
                  </ul>
            </div>      
        </div>
        <div class="row pb-5">
            <div class="col-md-3">
              <h3 class="text-uppercae">Features</h3>
            </div>
            <div class="col-offset-md-1 col-md-8">
              <div class="my-app-custom-plain-container-row d-flex flex-lg-row flex-column">
                <ng-container *ngFor="let img of images; let i = index">
                  <div class="img-container" *ngIf="i < 2"> <!-- 2 is a fixed value that I'm using to display only two images -->
                    <div class="more" *ngIf="i==1" (click)="openImageModalRow(img)">
                      <span>
                        +{{images.length - 2}} more
                      </span>
                    </div>
                    <img *ngIf="img.plain && img.plain.img; else noThumb"
                         class="my-app-custom-image-row"
                         [src]="img.plain.img"
                         (click)="openImageModalRow(img)"
                         [alt]="img.modal.description"/>
            
                    <ng-template #noThumb>
                      <img class="img-fluid my-app-custom-image-row"
                           [src]="img.modal.img"
                           (click)="openImageModalRow(img)"
                           [alt]="img.modal.description"/>
                    </ng-template>
                  </div>
                </ng-container>
              </div>
              <ks-modal-gallery [id]="6" [modalImages]="images"
                                [plainGalleryConfig]="customPlainGalleryRowConfig"></ks-modal-gallery>
              
            </div>      
        </div>
    </div>
  </section>