<header class="masthead background">
  <div class="container h-100">
    <div class="row h-100">
      <div class="col-lg-12 my-auto">
        <div class="header-content mx-auto">
            <h1 class="mb-2">Hey, my name is Kevin</h1>
            <link href="https://fonts.googleapis.com/css?family=Raleway:200,100,400" rel="stylesheet" type="text/css" />
            <h2>I code experiences that are&nbsp;
              [&nbsp;<span
                 class="txt-rotate"
                 data-period="1000"
                 data-rotate='[ "simple", "intuitive", "responsive", "fun"]'></span><span id="blinkz">|</span>
                ]
                </h2>
        </div>
      </div>
    </div>
  </div>
</header>

<section class="featured-work text-center" id="featured">
  <app-featured></app-featured>
</section>

<section class="py-5" id="about">
    <app-about></app-about>
</section>

<section class="featured-work" id="photography">
  <app-photography></app-photography>
</section>