<header class="masthead background">
  <div class="container h-100">
    <div class="row h-100">
      <div class="col-lg-7 my-auto">
        <div class="header-content mx-auto">
            <h1 class="mb-2">Hey, my name is Kevin</h1>
            <link href="https://fonts.googleapis.com/css?family=Raleway:200,100,400" rel="stylesheet" type="text/css" />
            <h2>I code experiences that are&nbsp;
              [&nbsp;<span
                 class="txt-rotate"
                 data-period="1000"
                 data-rotate='[ "simple", "intuitive", "responsive", "fun"]'></span><span id="blinkz">|</span>
                ]
                </h2>
            <!-- <h2>A single &lt;span&gt; is all you need.</h2> -->
          <!-- <h1 class="mb-2">Hey, my name is Kevin</h1>
          <h6>I'm a Web Developer based out of Seattle, WA, currently working at AT&T. 
              I believe in building intuitive and data-driven applications.</h6> -->
          <!-- <a href="#download" class="btn btn-outline btn-xl js-scroll-trigger">Start Now for Free!</a> -->
        
        </div>
      </div>
      <div class="col-lg-5 my-auto">
        <img src="../../../assets/img/logo.png" class="img-fluid" />
      </div>
      <!-- <div class="col-lg-5 my-auto">
        <div class="device-container">
          <div class="device-mockup iphone6_plus portrait white">
            <div class="device">
              <div class="screen">
                <img src="img/demo-screen-1.jpg" class="img-fluid" alt="">
              </div>
              <div class="button">
              </div>
            </div>
          </div>
        </div>
      </div> -->
    </div>
  </div>
</header>

<section class="featured-work text-center" id="featured">
  <app-featured></app-featured>
</section>

<section class="py-5" id="about">
    <app-about></app-about>
</section>

<section class="featured-work" id="photography">
  <app-photography></app-photography>
</section>