<div id="particles-js"></div>
<header class="masthead background">
  <div class="container">
      <div class="header-content">
          <h1 class="mb-2">
            <span class="hero-cover">Hey, my name is Kevin</span>
            </h1>
          <link href="https://fonts.googleapis.com/css?family=Raleway:200,100,400" rel="stylesheet" type="text/css" />
          <h2><span class="hero-cover">I code experiences that are&nbsp;
          [&nbsp;<span
          class="txt-rotate"
          data-period="1000"
          data-rotate='[ "simple", "intuitive", "responsive", "fun"]'></span><span id="blinkz">|</span>
          ]</span>
          </h2>
      </div>
  </div>
  <div id="home-scroll-down-arrow">
      <a class="js-scroll-trigger" href="#featured">
        <i class="fa fa-6 fa-arrow-down pb-4 zoom-lg"></i>
      </a>
    </div>
</header>
<section class="featured-work text-center" id="featured">
  <app-featured></app-featured>
</section>

<section class="py-5" id="about">
    <app-about></app-about>
</section>

<section class="featured-work" id="photography">
  <app-photography></app-photography>
</section>