img {
    height: 100%;
    width: 100%;
}

.c-button {
    box-shadow: 0 0 2px rgba(0,0,0,.08), 0 2px 2px rgba(0,0,0,.16);
    letter-spacing: 2px;
    background-color:#ED6660;
    color: white;
    padding: 20px;
    text-decoration: none;
    text-transform: uppercase;
}