.c-container {
    border-radius: 4px;
    opacity: 1;
    width: 100%;
    height: auto;
    z-index: 1;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

// .c-container:hover {
//     opacity: .8;
//     -webkit-transition: 0.2s ease-in;
//     -moz-transition:  0.2s ease-in;
//     transition: 0.2s ease-in;
// }
.c-text {
    background: white;
    border-radius: 4px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.c-right, .c-left {
    z-index: 1;
    position: relative;
}

.c-right {
    margin-left: -6%;
}

.c-left {
    margin-right: -6%;
}

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {
    .c-right {
        margin-left: auto;
        margin-top: -5%;
    }

    .c-left {
        margin-top: -5%;
        margin-right: auto;
    }
 }

.c-image {
    img {
        border-radius: 4px;
    }    
}

.c-button {
    box-shadow: 0 0 2px rgba(0,0,0,.08), 0 2px 2px rgba(0,0,0,.16);
    letter-spacing: 2px;
    background-color: #1e8bc3;
    color: white;
}

.fade-out {
    background-color: transparent;
}

.c-company {
    font-size: 15px;
    float: right;
}