<div class="container">
  <h1 class="text-center">Featured Works</h1>
  <div class="row justify-content-md-center">
      <div class="col-lg-8 fade-out">
          <div class="">
            <!-- <h1 class="display-4">Hello, world!</h1> -->
            <img src="https://mdbootstrap.com/img/Photos/Slides/img%20(70).jpg" class="border lead img-fluid"/>
            <!-- <hr class="my-4"> -->
            <div class="card-body card-body-cascade text-center c-body">
                  <!-- Title -->
            <h4 class="card-title"><strong>My adventure</strong></h4>
            <!-- Subtitle -->
            <h6 class="font-weight-bold indigo-text py-2">Photography</h6>
            <!-- Text -->
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem perspiciatis voluptatum a, quo nobis, non commodi quia repellendus sequi nulla voluptatem dicta reprehenderit, placeat laborum ut beatae ullam suscipit veniam.
            </p>
            <button>
              <a routerLink="/sales-express">Sales Express</a>
            </button>
            <!-- Linkedin -->
            <a class="px-2 fa-lg li-ic"><i class="fa fa-linkedin"></i></a>
            <!-- Twitter -->
            <a class="px-2 fa-lg tw-ic"><i class="fa fa-twitter"></i></a>
            <!-- Dribbble -->
            <a class="px-2 fa-lg fb-ic"><i class="fa fa-facebook"></i></a>
            </div>
          </div>
        <!-- <a mdbBtn color="primary" size="lg" href="#" role="button" mdbWavesEffect>Learn more</a> -->
      </div>
  </div>
</div>