<div class="container-fluid pt-5">
  <div id="home-scroll-down-arrow" class="sticky-arrow">
    <a class="js-scroll-trigger" href="#about">
      <i class="fas fa-arrow-down zoom-lg"></i>
    </a>
  </div>
  <div class="container">
    <h1 class="text-left mb-5">Featured Works</h1>
    <div class="row pb-5">
        <app-card 
          *ngFor="let project of projects"
          [imageUrl]="project.imageUrl"
          [companyName]="project.companyName"
          [projectName]="project.projectName"
          [jobTitle]="project.jobTitle"
          [jobDescription]="project.jobDescription"
          [position]="project.position"
          [route]="project.route"
        ></app-card>
    </div>
  </div>
</div>