<header class="masthead">
  <div class="container">
        <div class="header-content">
          <h1 class="text-center">Sales Express</h1>
          <p class="subhead text-center">Hybrid Dashboard application for AT&T products</p>
          <img class="work-banner-img img-fluid mx-auto d-block mb-5" src="https://techflourish.com/images/apple-ipad-clipart-4.png">
      </div>
  </div>
  <div class="container pb-5">
    <div class="row mb-5">
      <div class="col-md-3">
        <h3 class="text-uppercae">Overview</h3>
      </div>
      <div class="col-offset-md-1 col-md-8">
        <p>LinkedIn Job Search gives users all the tools they need to easily find their dream job – or let it find them. In order to help users find their dream job, we would like to provide our users with the ability to view and write anonymous employer reviews.</p>
      </div>      
    </div>
    <div class="row mb-5">
        <div class="col-md-3">
          <h3 class="text-uppercae">Role</h3>
        </div>
        <div class="col-offset-md-1 col-md-8">
          <p>LinkedIn Job Search gives users all the tools they need to easily find their dream job – or let it find them. In order to help users find their dream job, we would like to provide our users with the ability to view and write anonymous employer reviews.</p>
        </div>      
      </div>
  </div>
</header>
<section>
  <div class="container pt-5">
      <div class="row mb-5">
          <div class="col-md-3">
            <h3 class="text-uppercae">In the Beginning</h3>
          </div>
          <div class="col-offset-md-1 col-md-8">
            <p>LinkedIn Job Search gives users all the tools they need to easily find their dream job – or let it find them. In order to help users find their dream job, we would like to provide our users with the ability to view and write anonymous employer reviews.</p>
          </div>      
      </div>
      <div class="row mb-5">
          <div class="col-md-3">
            <h3 class="text-uppercae">Challenges</h3>
          </div>
          <div class="col-offset-md-1 col-md-8">
            <p>LinkedIn Job Search gives users all the tools they need to easily find their dream job – or let it find them. In order to help users find their dream job, we would like to provide our users with the ability to view and write anonymous employer reviews.</p>
          </div>      
      </div>
      <div class="row mb-5">
          <div class="col-md-3">
            <h3 class="text-uppercae">Lessons Learned</h3>
          </div>
          <div class="col-offset-md-1 col-md-8">
            <p>LinkedIn Job Search gives users all the tools they need to easily find their dream job – or let it find them. In order to help users find their dream job, we would like to provide our users with the ability to view and write anonymous employer reviews.</p>
          </div>      
      </div>
  </div>
</section>