<div id="honey-comb-gallery" class="container py-4">
    <div class="pb-4">
        <h1 class="text-center font-weight-light font-italic">Photography</h1>
        <hr />
    </div>
    <div class="row grid justify-content-center even-top">
        <div class="h-container">
          <div class="hexagon">
              <img class='abs' src="./assets/img/photos/deer.jpg"/>
              <div class="overlay"></div>
          </div>
        </div>
        <div class="h-container">
            <div class="hexagon">
                <img class='' src="./assets/img/photos/char.jpg"/>
                <div class="overlay"></div>
            </div>
        </div>
    </div>
    <div class="row grid justify-content-center">
        <div class="h-container">
            <div class="hexagon">
                <img src="./assets/img/photos/tori.jpg"/>
                <div class="overlay"></div>
            </div>
          </div>
          <div class="h-container">
              <div class="hexagon">
                  <img class='abs' src="./assets/img/photos/oregon.jpg"/>
                  <div class="overlay"></div>
              </div>
          </div>
          <div class="h-container">
              <div class="hexagon">
                  <img class='abs' src="./assets/img/photos/wedding_3.jpg"/>
                  <div class="overlay"></div>
              </div>
          </div>
    </div>
    <div class="row grid justify-content-center even-bottom">
        <div class="h-container">
            <div class="hexagon">
                <img class='abs' src="./assets/img/photos/buddha.jpg"/>
                <div class="overlay"></div>
            </div>
        </div>
        <div class="h-container">
            <div class="hexagon">
                <img class='wedding' src="./assets/img/photos/wedding_2.jpg"/>
                <div class="overlay"></div>
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <!-- <a href="https://www.instagram.com/khseduo/" target="_blank">
            <i class="fab fa-instagram fa-2x mt-5"></i>
        </a> -->
    </div>
</div>