<div id="honey-comb-gallery" class="container py-4">
    <div class="pb-4">
        <h1 class="text-center font-weight-light font-italic">Photography</h1>
        <hr />
    </div>
    <div class="row grid justify-content-center even-top">
        <div class="h-container">
          <div class="hexagon">
              <img src="../../../../assets/img/insta_1.jpg"/>
              <div class="overlay"></div>
          </div>
        </div>
        <div class="h-container">
            <div class="hexagon">
                <img src="../../../../assets/img/insta_2.jpeg"/>
                <div class="overlay"></div>
            </div>
        </div>
    </div>
    <div class="row grid justify-content-center">
        <div class="h-container">
            <div class="hexagon">
                <img src="../../../../assets/img/insta_3.jpg"/>
                <div class="overlay"></div>
            </div>
          </div>
          <div class="h-container">
              <div class="hexagon">
                  <img src="../../../../assets/img/insta_4.jpeg"/>
                  <div class="overlay"></div>
              </div>
          </div>
          <div class="h-container">
              <div class="hexagon">
                  <img src="../../../../assets/img/insta_5.jpeg"/>
                  <div class="overlay"></div>
              </div>
          </div>
    </div>
    <div class="row grid justify-content-center even-bottom">
        <div class="h-container">
            <div class="hexagon">
                <img src="../../../../assets/img/insta_6.jpeg"/>
                <div class="overlay"></div>
            </div>
        </div>
        <div class="h-container">
            <div class="hexagon">
                <img src="../../../../assets/img/insta_7.jpg"/>
                <div class="overlay"></div>
            </div>
        </div>
    </div>
</div>