<footer>
  <div class="container">
    <ul class="list-inline">
      <li class="list-inline-item">
        <a href="https://github.com/huynhkev7?tab=repositories" target="_blank">
            <i class="fa fa-github fa-6 mr-5" aria-hidden="true"></i>
        </a>
      </li>
      <li class="list-inline-item">
        <a href="https://www.linkedin.com/in/huynhkev" target="_blank">
            <i class="fa fa-linkedin fa-6 mr-5" aria-hidden="true"></i>
        </a>
      </li>
      <li class="list-inline-item">
          <a href="mailto:kevdihuynh@gmail.com?Subject=Hey Kevin">
              <i class="fa fa-google fa-6" aria-hidden="true"></i>
          </a>
        </li>
    </ul>
    <p class="mt-5">Copyright © Kevin Huynh 2018</p>
  </div>
</footer>