footer {
    padding: 100px 0;
    text-align: center;
    background-color: #212529;
    color: white;
  }
  
  footer p {
    font-size: 15px;
    letter-spacing: 2px;
    color: white;
  }
  
  footer ul {
    margin-bottom: 0;
  }
  
  footer ul li a i{
    // font-size: 30px;
    color: white;
    transition: color 0.5s ease;
  }
  
  footer ul li a i:hover {
    color: 	#ED6660;
  }

  footer ul li a:hover, footer ul li a:focus, footer ul li a:active, footer ul li a.active {
    text-decoration: none;
  }